.axis {
  font: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  stroke: 1px solid black;
  fill: #8D82BD;
}

.bar:hover {
  fill: #C2B4B2;
}


    
#doubleChart text{
    color: lightsteelblue;
}

#container{
    
}

.d3-tip {
    background-color: #C2B4B2;
    color: dimgray;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size:11px;
}

.xaxis {
    font: 0.5em sans-serif;
    color: red;
}





.leaflet-container{
            
}


.leaflet-bottom.leaflet-right {
    display: none !important;
}

.box {
    width: 20px;
    height: 20px;
    border: 2px solid #C9C9C9;
    border-radius: 5px;
    float:left;
    clear:both;
}
#one {
    background-color: #473433;
}
#two {
    background-color: #C2B4B2;
}
#three {
    background-color: #8D82BD;
}
.label {
    text-align:left;
    font-size: 1em;
    margin-left: 5px;
    vertical-align: middle;
}
#legend {
    width:30%;
    margin-left: 8%;
}
#legend2 {
    float:left;
    clear:both;
    width:30%;
    margin-left: 38%;
    margin-top: -110px;
}
.markers {
    float:left;
    clear:both;
    text-align: center;
}
#mone {
    width: 10%;
}
#mtwo {
    width: 8%;
    margin-left:4px;
}
#mthree {
    width: 6%;
    margin-left:7px;
}

#mapPlaces {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #mapplaces {
    height: 200px;
  }
}
#map {
    border:2px solid red;
    height: 400px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}